<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
<!--NO ME DEJA TRAER MENSAJES DEL SERVIDOR-->
    <div class="container">
        <div class="row ">
                <div class="col-md-8 offset-md-2 bg-warning my-auto pt-3 pb-3 mt-5 ">
                    <div class="jumbotron bg-light">
                      <h1 class="display-4 pt-2 col-md-12 offset-md-2"><b>Login #SoftBoots</b></h1>
                        <div class ="col-10 offset-md-1 ">
                        {% with messages = get_flashed_messages() %}
                            {% for message in messages %}
                                {%if message == "Email o Password incorrectos, pruebe de nuevo!"%}
                                      <div class="alert alert-danger " role="alert"><b class="col-md-12 offset-md-2">{{message}}</b></div>
                                {%else%}
                                      <div class="alert alert-success" role="alert"><b class="col-md-12 offset-md-3">{{message}}</b></div>
                                {%endif%}
                            {% endfor %}
                        {% endwith %}
                        </div>
                        <hr class="my-4">
                            <form action ="/", method="post">
                              <div class="mb-3 col-10 offset-md-1 ">
                                <input type="email" class= "lead col-12 offset-md-0"  name = "email" placeholder= "email" class="form-control"  required>
                              </div>
                              <div class="mb-3 col-10 offset-md-1">
                                <input type="password" class= "lead col-12 offset-md-0" name = "password" placeholder= "password" class="form-control" required>
                              </div>

                              <button type="submit" class="btn btn-warning col-10 offset-md-1 mb-5"><b>Entrar</b></button>
                            </form>
                        <p class="lead offset-md-1">Si no te has registrado no podrás acceder al workspace del Proyecto, por favor regístrate lo antes posible! </p>
                        <div>
                            <a href="/registro_url", method="get" >
                                <button type="button " class="btn btn-dark col-10 offset-md-1 mt-1 mb-5"><b>Regístrate</b></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>