<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registro</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
                <div class="row mt-3">
                        <div class="col-md-8  order offset-md-2 bg-info my-auto pt-3 pb-3 mt-5 ">
                            <div class="jumbotron bg-light">
                              <h1 class="display-4 col-md-10 pt-2  order offset-md-2 "><b>Registro #SoftBoots</b></h1>
                                <hr class="my-4">
                                    <form action ="/registro", method="post">
                                      <div class="mb-4  col-10 offset-md-1 ">
                                        <input type="text" class= "lead col-12 offset-md-0" name = "username" class="form-control" placeholder="usuario" required>
                                      </div>
                                      <div class="mb-4 col-10 offset-md-1">
                                        <input type="email" class= "lead col-12 offset-md-0" name = "email" class="form-control" placeholder="email" required>
                                      </div>
                                      <div class="mb-3 col-10 offset-md-1">
                                        <input type="password" class= "lead col-12 offset-md-0" name = "password" class="form-control" placeholder="password"required>
                                      </div>
                                        <p class="lead offset-md-1 ">Regístrate para poder acceder al workspace del proyecto!</p>
                                      <button type="submit" class="btn bg-info col-10 offset-md-1 mt-3 mb-5"><b>Registrarme</b></button>
                                    </form>
                            </div>
                        </div>
                </div>
        </div>
    </body>
</html>